body {
  background-color: var(--background);
  color: var(--text);
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  color: var(--accent-1);
}
a:active,
a:hover {
  outline-width: 0;
  color: var(--accent-2);
}

body {
  color: var(--text);
  font-family: var(--text-font);
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  -ms-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  -webkit-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  font-feature-settings: 'kern', 'liga', 'clig', 'calt';
}

body h1 {
  font-size: 1.5rem;
  color: var(--headline);
  margin: 0.67em 0;
}
